#modal-title {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid lightblue;
    
}

#modal-subtitle {
    font-family: 'Cambria';
    font-weight: 600;
    font-size: large;
    text-align: center;
}

#modal-closing {
    font-family: 'Cambria';
    font-weight: 600;
    text-align: center;
    font-size: large;
}