/* .winnerGif {
    display: inline-block;
    padding: 5px;
    justify-content: space-between;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 25px;
}

.consolationGif {
    display: inline-block;
    padding: 5px;
    justify-content: space-between;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 25px;
} */
.next-round {
    display: inline-flex;
}

.next-round-text {
    /* display: inline-flex; */
    margin-left: 10px
}