.next-round-action {
    /* width: max-content; */
    display: flex;
    width: 100%;
}

.next-round-text {
    display: inline-flex;
    margin-left: 10px;
    /* width: 100vh; */
}
.results {
    /* display: inline-block; */
    text-align: center;
    justify-content: center;
    width: 50%;
}

.winnerCards {
    display: inline-flex;
}

.consolationCards {
    display: inline-flex;
}