.next-round-action {
    display: flex;
    width: 100%;
}

.next-round-text {
    display: inline-flex;
    margin-left: 10px;
}

.winnerCards {
    display: inline-flex;
}

.consolationCards {
    display: inline-flex;
}