.App {
  margin-top: 100px;
  margin-bottom: 40px;
}

.error {
  color: red;
  font-size: small;
}

.logo {
  width: 190px;
  height: 190px;
}

.home-button {
  width: 275px;
  height: 25px;
}

.home-button-spacing {
  padding: 5px;
}

.logo-spacing {
  padding-bottom: 75px;
}