.error {
  color: red;
  font-size: small;
}

.logo {
  width: 215px;
  height: 190px;
}

.home-button {
  width: 275px;
  height: 30px;
}

.home-button-spacing {
  padding: 5px;
}

.logo-spacing {
  padding-bottom: 75px;
}
.home-form {
  margin-top: 30px;
}
.form-field {
  width: 275px;
  height: 30px;
}