.playerList {
    /* justify-content: left; */
    margin-top: 10px;
    /* min-width: 15%; */
    /* width: 25%; */
    border-style: ridge;
    display: block;
    justify-content: start;
    height: 100%;


}

.playerName {
    margin-left: 10px;
}
.player-title {
    margin-top: -10px;
    text-align: inherit;
}
.playerScore {
    text-align: end;
    margin-left: 20px;
}