.cardActions {
    justify-content: flex-end;
}
.highlightedGif {
    display: inline-block;
    /* padding: 5px; */
    justify-content: space-between;
    /* box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); */
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 25px;
}
.regularGif {
    display: inline-block;
    /* padding: 5px; */
    justify-content: space-between;
    /* box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); */
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 25px;
}