.overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.searchBar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* padding-bottom: 20px; */
}

.gif{
    justify-content: center;
    align-items: center;
    display: inline-flex;
}