.overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.searchBar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* padding-bottom: 20px; */
}

.gif{
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.gif-image {
    width: 100%;
}

.noResults {
    color: red;
    margin: 20px;
    font-size: larger;
    font-style: italic;
}

.searchbox-wrapper{
    /* margin: 15px; */
    /* padding: 15px; */
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    /* border: groove; */
}

.gifSelection {
    margin-top: 70px;
    height: auto;
    width: auto;
    /* background-color: #fff; */
    border-radius: 0.3rem;
    border: 1px solid #ddd;
    display: inline-block;
    padding: 15px;
    box-shadow: 0 0.3rem 1rem rgba(8, 38, 78, 0.2);
}