.App {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  height: '100%' !important;
  width: '100%' !important;
  min-width: 100vw;
  min-height: 100vh;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
