.topic {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
}

.topic-form {
    display: flex;
    vertical-align: bottom;
    margin-bottom: auto;
    margin-top: auto;
}